body{
	background-color: #777;
	color:"777";
	margin:0;
	font-family:"Arial", "Helvetica Neu", "Helvetica", "sans-serif";
	font-size:18px;
	width:960px;
	}  

 header{
	background-color:#ebebeb;
	padding-top:15px;
	text-align:center;
	height:90px;
	margin-left: 150px;  
	} 

#nav{
	background-color:#ebebeb;
	margin-top:10px;
	padding-top: 10px;
	text-align:center;
	height:90px;
	margin-left: 150px;
}

.container{width=100%}
#section{
	background-color:#ebebeb;
	margin:10px;
	margin-left: 150px;
	text-align:center;
	width:51%;
	height:250px;
	float:left;
}

#article{
  clear:both;
  margin-left: 150px;
  text-align:center;
  width:85%;
  height:172px;
  position: relative;
  left:-100px;
  top: 400;
  Padding-top:3px;
  padding-left: 3px;
  padding-right: 3px;
  background-color:#777;
	}

#h{clear:both;
  margin-left: 150px;
  text-align:center;
  width:95% ;
  height:47px;
  position: relative;
  left:-143px;
  top: 385;
  background-color:#ebebeb;
  color:#777;
  padding-left: 2px;
  padding-top: 3px
  }

  #p{clear:both;
  margin-top:3px;
  margin-left: 150px;
  text-align:center;
  width:95% ;
  height:47px;
  position: relative;
  left:-143px;
  top: 372;
  background-color:#ebebeb;
  color:#777;
  padding-left: 2px;
  padding-top: 3px;
  }
#aside{background-color:#ebebeb;
	margin-top:10px;
	margin-left:8px;
	margin-right:auto;
	text-align:center;
	width:31.5%;
	height:250px;
	float:left;
	}

#footer{
	clear:both;
	background-color:#ebebeb;
	margin:10px;
	margin:auto;
	text-align:center;
	height:90px;
	margin-left: 150px;
	padding-top:10px;
	margin-bottom: 20px	
}
.clearfix::after{
	content:"";
	clear:both;
	display:table;
}

